{% extends "base.html" %}

{% load static %}

{% block title %}
    Товарики
{% endblock %}

{% block content %}

    <div id="sidebar">
        <h3>Категории</h3>
        <ul>
            {% for cat in categories %}
                <li>
                    <a href="#">{{ cat.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div id="main" class="product-list">
        <h1>{% if category %}{{ category.name }}{% else %}Товарики{% endif %}</h1>

        {% for info in info_products %}
            <ul>
                <div class="item">
                    <a href="{{ info.get_absolute_url }}">
                        <img src="{% if info.show_main_image %}
                                {{ info.show_main_image }}
                              {% else %}
                                {% static 'img/no_image.png' %}
                              {% endif %}">
                    </a>

                    <a href="{{ info.get_absolute_url }}">{{ info.group_product.name }}</a>

                    <br>
                    {{ info.price }} руб.
                </div>
            </ul>
        {% endfor %}

    </div>

{% endblock %}