{% extends "base.html" %}

{% load static %}

{% block title %}
    Товарики
{% endblock %}

{% block content %}

    <div id="sidebar">
        <h3>Категории</h3>
        <ul>
            {% for cat in categories %}
                <li>
                    <a href="#">{{ cat.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div id="main" class="product-list">
        <h1>{% if category %}{{ category.name }}{% else %}Товарики{% endif %}</h1>

        {% for product in info_products %}
            <ul>
                <div class="item">

                    <a href="{{ product.get_absolute_url }}">
                        <img src="{% static 'img/no_image.png' %}">
                    </a>

                    <a href="{{ product.get_absolute_url }}">{{ product.group_product.name }}</a>

                    <br>
                    {{ product.price }} руб.
                </div>
            </ul>
        {% endfor %}

    </div>

{% endblock %}