{% extends "base.html" %}

{% load static %}

{% block title %}{{ group_product.name }}{% endblock %}

{% block content %}

    <div class="product-detail">

        <h1>{{ group_product.name }}</h1>

        {% for info in info_products %}
            <div class="item">
                <a href="#">
                    <img src="{% if info.show_main_image %}
                                    {{ info.show_main_image }}
                              {% else %}
                                    {% static 'img/no_image.png' %}
                              {% endif %}">
                </a>
                <a href="#"> {{ info.vendor_code }}</a>
                {{ info.price }} руб.

                <div>
                {% for parameter in all_parameters %}

                    {% ifchanged parameter.parameter_id %}
                        </div>
                         <p>{{ parameter.parameter.value }}:</p>
                        <div class="parameters_item_{{ parameter.parameter.display_tag }}">
                    {% endifchanged %}

                    <div class="parameters_item_{{ parameter.parameter.display_tag }}-item">
                        <input type="radio" name="{{ parameter.parameter.display_tag }}"
                               id="{{ parameter.id  }}"
                               value="{{ parameter.id  }}"
                               {% if parameter.in_stock %}  {% else %} disabled {% endif %}
                        >
                        <label for="{{ parameter.id }}">
                            {{ parameter.value }}</label>
                    </div>
                {% endfor%}
                </div>
                <form action="{% url 'cart:cart_add' info.id %}" method="post">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    <input type="submit" value="В корзину">
                </form>

            </div>
        {% endfor %}

    </div>

{% endblock %}