{% extends "base.html" %}

{% block title %}Инструкции отправлены{% endblock %}

{% block content %}

    <h1>Инструкции отправлены</h1>

    <p>Инструкции по созданию нового пароля для Вашей учетной записи
        были отправлены на указанный электронный адрес.

    <p>Если письмо не появилось во входящих,
        проверьте папку со спамом, а также другие папки,
        в которые это письмо могло попасть.</p>

    <p>Или <a href="{% url 'password_reset' %}">отправьте письмо повторно</a>.</p>

{% endblock %}