{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Магазик{% endblock %}</title>
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>

    <body>

        <div id="header">
            <span class="logo">Магазин</span>
            {% if request.user.is_authenticated %}
                <ul class="menu">
                    <li {% if section == "sales_log" %} class="selected" {% endif %} >
                        <a href="#">Журнал продаж</a>
                    </li>
                    <li {% if section == "shop" %} class="selected" {% endif %} >
                        <a href="{% url 'records:index' %}">Интернет-магазин</a>
                    </li>
                    <li {% if section == "people" %} class="selected"{% endif %}>
                        <a href="#">Человечки</a>
                    </li>
                </ul>
            {% endif %}

            <div class="user">
                {% if request.user.is_authenticated %}

                    <div class="dropdown">
                        <span>{{ request.user.first_name }}</span>
                        <div class="dropdown-content">
                            <a href="{% url 'change_profile' %}">Профиль</a>
                            <a href="{% url 'password_change' %}">Изменить пароль</a>
                            <a href="#">Настройки</a>
                            <a href="{% url 'logout' %}">Выход</a>
                        </div>
                    </div>

                {% else %}
                    <a href="{% url 'login' %}">Зайти в гости</a>
                {% endif %}
            </div>
        </div>

        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}<a href="#" class="close">x</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}

        <div id="content">
            {% block content %}{% endblock %}
        </div>

    </body>
</html>